apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cert-manager-istio-csr.name" . }}
  labels:
{{ include "cert-manager-istio-csr.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "cert-manager-istio-csr.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "cert-manager-istio-csr.name" . }}
    spec:
      serviceAccountName: {{ include "cert-manager-istio-csr.name" . }}
      containers:
      - name: {{ include "cert-manager-istio-csr.name" . }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.app.server.serving.port }}
        - containerPort: {{ .Values.app.metrics.port }}
        readinessProbe:
          httpGet:
            port: {{ .Values.app.readinessProbe.port }}
            path: {{ .Values.app.readinessProbe.path }}
          initialDelaySeconds: 3
          periodSeconds: 7
        command: ["cert-manager-istio-csr"]
        args:
          - "--log-level={{.Values.app.logLevel}}"
          - "--metrics-port={{.Values.app.metrics.port}}"
          - "--readiness-probe-port={{.Values.app.readinessProbe.port}}"
          - "--readiness-probe-path={{.Values.app.readinessProbe.path}}"

            # cert-manager
          - "--certificate-namespace={{.Values.app.certmanager.namespace}}"
          - "--issuer-name={{.Values.app.certmanager.issuer.name}}"
          - "--issuer-kind={{.Values.app.certmanager.issuer.kind}}"
          - "--issuer-group={{.Values.app.certmanager.issuer.group}}"
          - "--preserve-certificate-requests={{.Values.app.certmanager.preserveCertificateRequests}}"

            # tls
          - "--root-ca-file={{.Values.app.tls.rootCAFile}}"
        {{- range .Values.app.tls.certificateDNSNames }}
          - "--serving-certificate-dns-names={{ . }}"
        {{- end  }}
          - "--serving-certificate-duration={{.Values.app.tls.certificateDuration}}"
          - "--trust-domain={{.Values.app.tls.trustDomain}}"

          # server
          - "--cluster-id={{.Values.app.server.clusterID}}"
          - "--max-client-certificate-duration={{.Values.app.server.maxCertificateDuration}}"
          - "--serving-address={{.Values.app.server.serving.address}}:{{.Values.app.server.serving.port}}"

          # controller
          - "--leader-election-namespace={{.Values.app.controller.leaderElectionNamespace}}"

        {{- if .Values.volumeMounts }}
        volumeMounts:
{{ toYaml .Values.volumeMounts | indent 10 }}
       {{- end }}

        resources:
          {{- toYaml .Values.resources | nindent 12 }}

      {{- if .Values.volumes }}
      volumes:
{{ toYaml .Values.volumes | indent 6 }}
      {{- end }}
